.markerContainer{
  border: solid 2px blue; // border color will be overridden
  width: 80px;
}
.xy{
  display: flex;
  > div {
    flex: 1;
    color: white;
    text-align: center;
    font-size: 1.5rem
  }
}
.markerRow{
  padding: .5rem 0
}
